# Pandas  Booleans

In [2]:
import pandas as pd

In [3]:
bool_ = pd.read_csv("/home/vikas/Downloads/data/college.csv")

In [4]:
bool_.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [5]:
tf =[True,False,True,True,False,True]

In [6]:
bool_.loc[tf]

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
5,The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,...,0.0261,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750

In [7]:
import numpy as np
onarray = np.array([True,False,True,True,False])

In [8]:
bool_.loc[onarray,[True,False,True,False,True,True,True,True]]

,INSTNM,STABBR,MENONLY,WOMENONLY,RELAFFIL,SATVRMID
0,Alabama A & M University,AL,0.0,0.0,0,424.0
2,Amridge University,AL,0.0,0.0,1,NaN
3,University of Alabama in Huntsville,AL,0.0,0.0,0,595.0

In [9]:
# if i want to display the col which i want to
tf =[True,False,True,True,False,True]*2

In [10]:
bool_.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [11]:
bool_.loc[:,tf].head()

,INSTNM,STABBR,HBCU,WOMENONLY,RELAFFIL,SATMTMID,DISTANCEONLY,UGDS_WHITE
0,Alabama A & M University,AL,1.0,0.0,0,420.0,0.0,0.0333
1,University of Alabama at Birmingham,AL,0.0,0.0,0,565.0,0.0,0.5922
2,Amridge University,AL,0.0,0.0,1,NaN,1.0,0.2990
3,University of Alabama in Huntsville,AL,0.0,0.0,0,590.0,0.0,0.6988
4,Alabama State University,AL,1.0,0.0,0,430.0,0.0,0.0158

In [23]:
 var = bool_.loc[:,'SATMTMID']<=420

In [24]:
var.head(10)

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: SATMTMID, dtype: bool

In [25]:
bool_.loc[var].head(10)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
12,Concordia College Alabama,Selma,AL,1.0,0.0,0.0,1,420.0,400.0,0.0,...,0.0031,0.0466,0.0000,0.1056,1,0.8667,0.9333,0.2367,19900,PrivacySuppressed
715,Bethune-Cookman University,Daytona Beach,FL,1.0,0.0,0.0,1,405.0,395.0,0.0,...,0.0198,0.0205,0.0190,0.0523,1,0.7758,0.8867,0.0647,29400,36250
734,Edward Waters College,Jacksonville,FL,1.0,0.0,0.0,1,420.0,405.0,0.0,...,0.0280,0.0000,0.0216,0.0388,1,0.9501,0.8306,0.1961,23900,PrivacySuppressed
867,Andrew College,Cuthbert,GA,0.0,0.0,0.0,1,380.0,380.0,0.0,...,0.0305,0.0271,0.0000,0.0034,1,0.6139,0.8544,0.0095,27500,12875
876,Clark Atlanta University,Atlanta,GA,1.0,0.0,0.0,1,430.0,420.0,0.0,...,0.0000,0.0136,0.1106,0.0491,1,0.7185,0.8722,0.0289,33800,31000
910,Gordon State College,Barnesville,GA,0.0,0.0,0.0,0,435.0,415.0,0.0,...,0.0269,0.0021,0.0031,0.3240,1,0.5534,0.5524,0.2013,31100,16807.5
928,Paine College,Augusta,GA,1.0,0.0,0.0,1,385.0,375.0,0.0,...,0.0143,0.0155,0.0369,0.0690,1,0.7781,0.8389,0.1104,26500,38185
934,Savannah State University,Savannah,GA,1.0,0.0,0.0,0,425.0,420.0,0.0,...,0.0309,0.0060,0.0075,0.1075,1,0.7447,0.8561,0.0919,29600,33202
1422,Kentucky State University,Frankfort,KY,1.0,0.0,0.0,0,420.0,410.0,0.0,...,0.0240,0.0031,0.1162,0.1475,1,0.5911,0.6414,0.2013,28400,30982

In [51]:
bool__ = bool_.fillna(0)
bool_
bool__.loc[:,'HBCU':'MD_EARN_WNE_P10'] ###########.astype(int) occured error bcz object presents  int  the dataset

,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,...,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10
0,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,...,0.0019,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300
1,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.5922,0.2600,...,0.0007,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700
2,0.0,0.0,0.0,1,0.0,0.0,1.0,291.0,0.2990,0.4192,...,0.0000,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100
3,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,0.6988,0.1255,...,0.0002,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500
4,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,0.0158,0.9208,...,0.0006,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600
5,0.0,0.0,0.0,0,555.0,565.0,0.0,29851.0,0.7825,0.1119,...,0.0009,0.0261,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900
6,0.0,0.0,0.0,0,0.0,0.0,0.0,1592.0,0.7255,0.2613,...,0.0000,0.0000,0.0000,0.0019,0.3882,1,0.5892,0.3977,0.3153,27500
7,0.0,0.0,0.0,0,0.0,0.0,0.0,2991.0,0.7823,0.1200,...,0.0010,0.0174,0.0057,0.0334,0.5517,1,0.4088,0.6296,0.6410,39000
8,0.0,0.0,0.0,0,486.0,509.0,0.0,4304.0,0.5328,0.3376,...,0.0016,0.0297,0.0397,0.0246,0.2853,1,0.4192,0.5803,0.2930,35000
9,0.0,0.0,0.0,0,575.0,588.0,0.0,20514.0,0.8507,0.0704,...,0.0000,0.0000,0.0100,0.0140,0.0862,1,0.1610,0.3494,0.0415,45700
10,0.0,0.0,0.0,1,560.0,560.0,0.0,1180.0,0.7983,0.1102,...,0.0000,0.0051,0.0000,0.0051,0.0017,1,0.1920,0.4809,0.0152,44200
11,0.0,0.0,0.0,0,0.0,0.0,0.0,1727.0,0.4661,0.4372,...,0.0035,0.0151,0.0000,0.0139,0.4198,1,0.6369,0.2537,0.3876,26100
12,1.0,0.0,0.0,1,420.0,400.0,0.0,322.0,0.0280,0.8758,...,0.0000,0.0031,0.0466,0.0000,0.1056,1,0.8667,0.9333,0.2367,19900
13,0.0,0.0,0.0,0,0.0,0.0,0.0,522.0,0.3046,0.6054,...,0.0096,0.0000,0.0019,0.0326,0.3238,1,0.6845,0.7129,0.5726,28800
14,0.0,0.0,0.0,0,0.0,0.0,0.0,1729.0,0.6408,0.2435,...,0.0029,0.0254,0.0012,0.0069,0.3823,1,0.4895,0.2263,0.3399,24600
15,0.0,0.0,0.0,0,0.0,0.0,0.0,4286.0,0.6979,0.2259,...,0.0014,0.0152,0.0007,0.0009,0.4104,1,0.4725,0.3741,0.2909,28700
16,0.0,0.0,0.0,1,0.0,0.0,0.0,2367.0,0.3874,0.5137,...,0.0013,0.0173,0.0182,0.0258,0.2302,1,0.5812,0.7253,0.4589,37200
17,1.0,0.0,0.0,0,0.0,0.0,0.0,4917.0,0.6921,0.2076,...,0.0018,0.0185,0.0150,0.0169,0.4523,1,0.5734,0.0000,0.3733,25700
18,0.0,0.0,0.0,0,0.0,0.0,0.0,115.0,0.8957,0.0348,...,0.0000,0.0000,0.0000,0.0000,0.0783,1,0.8224,0.8553,0.3933,0
19,0.0,0.0,0.0,0,0.0,0.0,0.0,4293.0,0.6273,0.3240,...,0.0009,0.0126,0.0000,0.0009,0.4787,1,0.5501,0.0000,0.3920,26600
20,0.0,0.0,0.0,0,0.0,0.0,0.0,4920.0,0.8630,0.0612,...,0.0000,0.0000,0.0059,0.0183,0.4203,1,0.5026,0.4192,0.3229,28800
21,0.0,0.0,0.0,0,0.0,0.0,0.0,1513.0,0.1956,0.7449,...,0.0000,0.0033,0.0040,0.0443,0.3840,1,0.7645,0.0000,0.3318,24200
22,0.0,0.0,0.0,0,0.0,0.0,0.0,302.0,0.3543,0.5265,...,0.0000,0.0563,0.0000,0.0397,0.5497,1,0.6541,0.7736,0.7813,42300
23,0.0,0.0,0.0,1,510.0,490.0,0.0,1149.0,0.6388,0.1993,...,0.0017,0.0261,0.0061,0.0827,0.2097,1,0.3982,0.7153,0.1937,36500
24,0.0,0.0,0.0,1,0.0,0.0,0.0,62.0,0.7419,0.1129,...,0.0161,0.0000,0.0161,0.0323,0.4355,1,0.6087,0.4493,0.5942,PrivacySuppressed
25,1.0,0.0,0.0,0,0.0,0.0,0.0,974.0,0.3337,0.5965,...,0.0010,0.0185,0.0000,0.0062,0.4394,1,0.5763,0.0000,0.4555,22300
26,0.0,0.0,0.0,0,495.0,485.0,0.0,7060.0,0.6834,0.2382,...,0.0010,0.0000,0.0234,0.0280,0.1989,1,0.4428,0.6825,0.2200,34600
27,0.0,0.0,0.0,0,0.0,0.0,0.0,1033.0,0.5857,0.2982,...,0.0000,0.0184,0.0000,0.0397,0.4424,1,0.5765,0.0000,0.4060,25400
28,0.0,0.0,0.0,0,0.0,0.0,0.0,7443.0,0.6696,0.2246,...,0.0008,0.0301,0.0054,0.0001,0.6050,1,0.3372,0.2101,0.3671,29400
29,0.0,0.0,0.0,0,0.0,0.0,0.0,9380.0,0.6528,0.1940,...,0.0006,0.0428,0.0062,0.0162,0.5795,1,0.3933,0.3024,0.3688,27400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7505,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,49200
7506,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,49200
7507,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,0
7508,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,0
7509,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,0
7510,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,49200
7511,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,49200
7512,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,49200
7513,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,49200
7514,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,49200
7515,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,49200
7516,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,49200
7517,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0,0.0000,0.0000,0.0000,49200
7518,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,49200
7519,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,49200
7520,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,49200
7521,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,49200
7522,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,49200
7523,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,49200
7524,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,0
7525,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,0
7526,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,0
7527,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,0
7528,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,0
7529,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,0
7530,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,0
7531,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,0
7532,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,0
7533,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,0
7534,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,0.0000,0

In [50]:
bool__.loc[:,'HBCU':'MD_EARN_WNE_P10'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7535 entries, 0 to 7534
Data columns (total 23 columns):
HBCU               7535 non-null float64
MENONLY            7535 non-null float64
WOMENONLY          7535 non-null float64
RELAFFIL           7535 non-null int64
SATVRMID           7535 non-null float64
SATMTMID           7535 non-null float64
DISTANCEONLY       7535 non-null float64
UGDS               7535 non-null float64
UGDS_WHITE         7535 non-null float64
UGDS_BLACK         7535 non-null float64
UGDS_HISP          7535 non-null float64
UGDS_ASIAN         7535 non-null float64
UGDS_AIAN          7535 non-null float64
UGDS_NHPI          7535 non-null float64
UGDS_2MOR          7535 non-null float64
UGDS_NRA           7535 non-null float64
UGDS_UNKN          7535 non-null float64
PPTUG_EF           7535 non-null float64
CURROPER           7535 non-null int64
PCTPELL            7535 non-null float64
PCTFLOAN           7535 non-null float64
UG25ABV            7535 non-null float64
MD_EARN_WNE_P10    7535 non-null object
dtypes: float64(20), int64(2), object(1)
memory usage: 1.3+ MB

In [54]:
bool__.head(10).loc[:,'SATMTMID'].astype(int)

0    420
1    565
2      0
3    590
4    430
5    565
6      0
7      0
8    509
9    588
Name: SATMTMID, dtype: int64

In [41]:
bool_.head(10)['SATVRMID']>=300

0     True
1     True
2    False
3     True
4     True
5     True
6    False
7    False
8     True
9     True
Name: SATVRMID, dtype: bool

In [56]:
bool__.head(10)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,0.0,0.0,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5
5,The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,...,0.0261,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750
6,Central Alabama Community College,Alexander City,AL,0.0,0.0,0.0,0,0.0,0.0,0.0,...,0.0000,0.0000,0.0019,0.3882,1,0.5892,0.3977,0.3153,27500,16127
7,Athens State University,Athens,AL,0.0,0.0,0.0,0,0.0,0.0,0.0,...,0.0174,0.0057,0.0334,0.5517,1,0.4088,0.6296,0.6410,39000,18595
8,Auburn University at Montgomery,Montgomery,AL,0.0,0.0,0.0,0,486.0,509.0,0.0,...,0.0297,0.0397,0.0246,0.2853,1,0.4192,0.5803,0.2930,35000,21335
9,Auburn University,Auburn,AL,0.0,0.0,0.0,0,575.0,588.0,0.0,...,0.0000,0.0100,0.0140,0.0862,1,0.1610,0.3494,0.0415,45700,21831

In [66]:
zero_= bool__.head(10)['SATMTMID']==0
zero_.astype(int)

0    0
1    0
2    1
3    0
4    0
5    0
6    1
7    1
8    0
9    0
Name: SATMTMID, dtype: int64

In [87]:
zero_greater = bool__.head(10)['SATMTMID']>0

In [86]:
zero_greater

0     True
1     True
2    False
3     True
4     True
5     True
6    False
7    False
8     True
9     True
Name: SATMTMID, dtype: bool

# AND Opearations

In [70]:
(bool__.head(20)['SATMTMID']==0) & (bool__.head(10)['SATMTMID']>=0)

0     False
1     False
2      True
3     False
4     False
5     False
6      True
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: SATMTMID, dtype: bool

In [72]:
bool_.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [73]:
bool_['namee']= 'sameer'

In [74]:
bool_

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888,sameer
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5,sameer
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370,sameer
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097,sameer
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5,sameer
5,The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,...,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750,sameer
6,Central Alabama Community College,Alexander City,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0019,0.3882,1,0.5892,0.3977,0.3153,27500,16127,sameer
7,Athens State University,Athens,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0057,0.0334,0.5517,1,0.4088,0.6296,0.6410,39000,18595,sameer
8,Auburn University at Montgomery,Montgomery,AL,0.0,0.0,0.0,0,486.0,509.0,0.0,...,0.0397,0.0246,0.2853,1,0.4192,0.5803,0.2930,35000,21335,sameer
9,Auburn University,Auburn,AL,0.0,0.0,0.0,0,575.0,588.0,0.0,...,0.0100,0.0140,0.0862,1,0.1610,0.3494,0.0415,45700,21831,sameer
10,Birmingham Southern College,Birmingham,AL,0.0,0.0,0.0,1,560.0,560.0,0.0,...,0.0000,0.0051,0.0017,1,0.1920,0.4809,0.0152,44200,27000,sameer
11,Chattahoochee Valley Community College,Phenix City,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0139,0.4198,1,0.6369,0.2537,0.3876,26100,9000,sameer
12,Concordia College Alabama,Selma,AL,1.0,0.0,0.0,1,420.0,400.0,0.0,...,0.0466,0.0000,0.1056,1,0.8667,0.9333,0.2367,19900,PrivacySuppressed,sameer
13,South University-Montgomery,Montgomery,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0019,0.0326,0.3238,1,0.6845,0.7129,0.5726,28800,25167,sameer
14,Enterprise State Community College,Enterprise,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0012,0.0069,0.3823,1,0.4895,0.2263,0.3399,24600,8273,sameer
15,James H Faulkner State Community College,Bay Minette,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0007,0.0009,0.4104,1,0.4725,0.3741,0.2909,28700,11000,sameer
16,Faulkner University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0182,0.0258,0.2302,1,0.5812,0.7253,0.4589,37200,22000,sameer
17,Gadsden State Community College,Gadsden,AL,1.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0150,0.0169,0.4523,1,0.5734,0.0000,0.3733,25700,PrivacySuppressed,sameer
18,New Beginning College of Cosmetology,Albertville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0783,1,0.8224,0.8553,0.3933,NaN,5500,sameer
19,George C Wallace State Community College-Dothan,Dothan,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0009,0.4787,1,0.5501,0.0000,0.3920,26600,PrivacySuppressed,sameer
20,George C Wallace State Community College-Hance...,Hanceville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0059,0.0183,0.4203,1,0.5026,0.4192,0.3229,28800,11186,sameer
21,George C Wallace State Community College-Selma,Selma,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0040,0.0443,0.3840,1,0.7645,0.0000,0.3318,24200,PrivacySuppressed,sameer
22,Herzing University-Birmingham,Birmingham,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0397,0.5497,1,0.6541,0.7736,0.7813,42300,23216.5,sameer
23,Huntingdon College,Montgomery,AL,0.0,0.0,0.0,1,510.0,490.0,0.0,...,0.0061,0.0827,0.2097,1,0.3982,0.7153,0.1937,36500,26230,sameer
24,Heritage Christian University,Florence,AL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0161,0.0323,0.4355,1,0.6087,0.4493,0.5942,PrivacySuppressed,PrivacySuppressed,sameer
25,J F Drake State Community and Technical College,Huntsville,AL,1.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0062,0.4394,1,0.5763,0.0000,0.4555,22300,PrivacySuppressed,sameer
26,Jacksonville State University,Jacksonville,AL,0.0,0.0,0.0,0,495.0,485.0,0.0,...,0.0234,0.0280,0.1989,1,0.4428,0.6825,0.2200,34600,23000,sameer
27,Jefferson Davis Community College,Brewton,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0397,0.4424,1,0.5765,0.0000,0.4060,25400,PrivacySuppressed,sameer
28,Jefferson State Community College,Birmingham,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0054,0.0001,0.6050,1,0.3372,0.2101,0.3671,29400,8916.5,sameer
29,John C Calhoun State Community College,Tanner,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0062,0.0162,0.5795,1,0.3933,0.3024,0.3688,27400,10500,sameer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7505,Strayer University-Lawrenceville,Lawrenceville,NJ,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7506,Strayer University-Piscataway,Piscataway,NJ,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7507,Utah County Campus,Orem,UT,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,7667,sameer
7508,L'esprit Academy - Royal Oak,Royal Oak,MI,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9833,sameer
7509,National Career Institute - Jersey City Branch,Jersey City,NJ,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500,sameer
7510,Strayer University-Cobb Campus,Atlanta,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7511,Strayer University-Morrow Campus,Morrow,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7512,Strayer University-Roswell Campus,Roswell,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7513,Strayer University-Douglasville Campus,Douglasville,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7514,Strayer University-Lithonia Campus,Lithonia,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7515,Strayer University-Savannah Campus,Savannah,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7516,Strayer University-Augusta Campus,Augusta,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7517,Strayer University-Columbus,Columbus,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,49200,36173.5,sameer
7518,Strayer University-Columbia Campus,Columbia,SC,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7519,Strayer University-Charleston Campus,North Charleston,SC,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7520,Strayer University-Irving,Irving,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7521,Strayer University-Katy,Houston,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7522,Strayer University-Northwest Houston,Houston,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7523,Strayer University-Plano,Plano,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7524,Strayer University-Cedar Hill,Cedar Hill,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5,sameer
7525,Strayer University-North Dallas,Dallas,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5,sameer
7526,Strayer University-San Antonio,San Antonio,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5,sameer
7527,Strayer University-Stafford,Stafford,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5,sameer
7528,WestMed College - Merced,Merced,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,15623.5,sameer
7529,Vantage College,El Paso,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500,sameer
7530,SAE Institute of Technology San Francisco,Emeryville,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500,sameer
7531,Rasmussen College - Overland Park,Overland Park,KS,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,21163,sameer
7532,National Personal Training Institute of Cleveland,Highland Heights,OH,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,6333,sameer
7533,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed,sameer
7534,Excel Learning Center-San Antonio South,San Antonio,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,12125,sameer

In [84]:
((bool_['namee']=='sameer') & (bool_['SATVRMID']>400)).head()
## here we r chrcking the conditions wether the condi is true or False

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [103]:
### here we r display the actual  true data from  dataframe
and_ = bool_[(bool_['namee']=='sameer') & (bool_['SATVRMID']>400)].head() 
and_

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888,sameer
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5,sameer
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097,sameer
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5,sameer
5,The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,...,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750,sameer

# OR aperation

In [107]:
or_ = (bool_['namee']=='sameer') | (bool_['SATVRMID']>400) 
or_.head(10)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

In [108]:
bool_[or_].head(10)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888,sameer
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5,sameer
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370,sameer
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097,sameer
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5,sameer
5,The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,...,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750,sameer
6,Central Alabama Community College,Alexander City,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0019,0.3882,1,0.5892,0.3977,0.3153,27500,16127,sameer
7,Athens State University,Athens,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0057,0.0334,0.5517,1,0.4088,0.6296,0.6410,39000,18595,sameer
8,Auburn University at Montgomery,Montgomery,AL,0.0,0.0,0.0,0,486.0,509.0,0.0,...,0.0397,0.0246,0.2853,1,0.4192,0.5803,0.2930,35000,21335,sameer
9,Auburn University,Auburn,AL,0.0,0.0,0.0,0,575.0,588.0,0.0,...,0.0100,0.0140,0.0862,1,0.1610,0.3494,0.0415,45700,21831,sameer

# ## Reversing a condition with the `not` operator

In [99]:
not_ = ~(bool_['SATVRMID']>400) & (bool_['namee']=='sameer')
not_.head(10)

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7     True
8    False
9    False
dtype: bool

In [101]:
bool_[not_].head(10)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370,sameer
6,Central Alabama Community College,Alexander City,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0019,0.3882,1,0.5892,0.3977,0.3153,27500,16127,sameer
7,Athens State University,Athens,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0057,0.0334,0.5517,1,0.4088,0.6296,0.6410,39000,18595,sameer
11,Chattahoochee Valley Community College,Phenix City,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0139,0.4198,1,0.6369,0.2537,0.3876,26100,9000,sameer
13,South University-Montgomery,Montgomery,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0019,0.0326,0.3238,1,0.6845,0.7129,0.5726,28800,25167,sameer
14,Enterprise State Community College,Enterprise,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0012,0.0069,0.3823,1,0.4895,0.2263,0.3399,24600,8273,sameer
15,James H Faulkner State Community College,Bay Minette,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0007,0.0009,0.4104,1,0.4725,0.3741,0.2909,28700,11000,sameer
16,Faulkner University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0182,0.0258,0.2302,1,0.5812,0.7253,0.4589,37200,22000,sameer
17,Gadsden State Community College,Gadsden,AL,1.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0150,0.0169,0.4523,1,0.5734,0.0000,0.3733,25700,PrivacySuppressed,sameer
18,New Beginning College of Cosmetology,Albertville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0783,1,0.8224,0.8553,0.3933,NaN,5500,sameer

In [111]:
all_condi = not_ & or_

In [114]:
bool_[all_condi]

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370,sameer
6,Central Alabama Community College,Alexander City,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0019,0.3882,1,0.5892,0.3977,0.3153,27500,16127,sameer
7,Athens State University,Athens,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0057,0.0334,0.5517,1,0.4088,0.6296,0.6410,39000,18595,sameer
11,Chattahoochee Valley Community College,Phenix City,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0139,0.4198,1,0.6369,0.2537,0.3876,26100,9000,sameer
13,South University-Montgomery,Montgomery,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0019,0.0326,0.3238,1,0.6845,0.7129,0.5726,28800,25167,sameer
14,Enterprise State Community College,Enterprise,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0012,0.0069,0.3823,1,0.4895,0.2263,0.3399,24600,8273,sameer
15,James H Faulkner State Community College,Bay Minette,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0007,0.0009,0.4104,1,0.4725,0.3741,0.2909,28700,11000,sameer
16,Faulkner University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0182,0.0258,0.2302,1,0.5812,0.7253,0.4589,37200,22000,sameer
17,Gadsden State Community College,Gadsden,AL,1.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0150,0.0169,0.4523,1,0.5734,0.0000,0.3733,25700,PrivacySuppressed,sameer
18,New Beginning College of Cosmetology,Albertville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0783,1,0.8224,0.8553,0.3933,NaN,5500,sameer
19,George C Wallace State Community College-Dothan,Dothan,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0009,0.4787,1,0.5501,0.0000,0.3920,26600,PrivacySuppressed,sameer
20,George C Wallace State Community College-Hance...,Hanceville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0059,0.0183,0.4203,1,0.5026,0.4192,0.3229,28800,11186,sameer
21,George C Wallace State Community College-Selma,Selma,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0040,0.0443,0.3840,1,0.7645,0.0000,0.3318,24200,PrivacySuppressed,sameer
22,Herzing University-Birmingham,Birmingham,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0397,0.5497,1,0.6541,0.7736,0.7813,42300,23216.5,sameer
24,Heritage Christian University,Florence,AL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0161,0.0323,0.4355,1,0.6087,0.4493,0.5942,PrivacySuppressed,PrivacySuppressed,sameer
25,J F Drake State Community and Technical College,Huntsville,AL,1.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0062,0.4394,1,0.5763,0.0000,0.4555,22300,PrivacySuppressed,sameer
27,Jefferson Davis Community College,Brewton,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0397,0.4424,1,0.5765,0.0000,0.4060,25400,PrivacySuppressed,sameer
28,Jefferson State Community College,Birmingham,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0054,0.0001,0.6050,1,0.3372,0.2101,0.3671,29400,8916.5,sameer
29,John C Calhoun State Community College,Tanner,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0062,0.0162,0.5795,1,0.3933,0.3024,0.3688,27400,10500,sameer
30,Judson College,Marion,AL,0.0,0.0,1.0,1,NaN,NaN,0.0,...,0.0133,0.0319,0.2926,1,0.4784,0.7205,0.2622,29300,PrivacySuppressed,sameer
31,Lawson State Community College-Birmingham Campus,Birmingham,AL,1.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0028,0.0823,0.3917,1,0.7153,0.0000,0.4089,23800,PrivacySuppressed,sameer
32,University of West Alabama,Livingston,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0600,0.0527,0.1174,1,0.5323,0.6733,0.1786,33900,24253,sameer
33,Lurleen B Wallace Community College,Andalusia,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0022,0.0000,0.2757,1,0.5892,0.0000,0.2503,25200,PrivacySuppressed,sameer
35,Miles College,Fairfield,AL,1.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0022,0.0371,1,0.8452,0.9244,0.1657,25700,36789.5,sameer
38,Northwest-Shoals Community College,Muscle Shoals,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0033,0.0324,0.4340,1,0.5278,0.2455,0.2605,25200,11250,sameer
40,Northeast Alabama Community College,Rainsville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0045,0.0013,0.4117,1,0.5893,0.0000,0.2770,28300,4500,sameer
42,Alabama Southern Community College,Monroeville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0008,0.0068,0.2653,1,0.5841,0.0000,0.1942,22400,PrivacySuppressed,sameer
43,Prince Institute-Southeast,Elmhurst,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,1,0.7857,0.9375,0.6569,PrivacySuppressed,20992,sameer
44,Reid State Technical College,Evergreen,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0047,0.3506,1,0.5493,0.0000,0.4081,20100,PrivacySuppressed,sameer
45,Bishop State Community College,Mobile,AL,1.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0198,0.0027,0.3604,1,0.6327,0.0000,0.3966,21800,PrivacySuppressed,sameer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7505,Strayer University-Lawrenceville,Lawrenceville,NJ,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7506,Strayer University-Piscataway,Piscataway,NJ,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7507,Utah County Campus,Orem,UT,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,7667,sameer
7508,L'esprit Academy - Royal Oak,Royal Oak,MI,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9833,sameer
7509,National Career Institute - Jersey City Branch,Jersey City,NJ,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500,sameer
7510,Strayer University-Cobb Campus,Atlanta,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7511,Strayer University-Morrow Campus,Morrow,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7512,Strayer University-Roswell Campus,Roswell,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7513,Strayer University-Douglasville Campus,Douglasville,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7514,Strayer University-Lithonia Campus,Lithonia,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7515,Strayer University-Savannah Campus,Savannah,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7516,Strayer University-Augusta Campus,Augusta,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7517,Strayer University-Columbus,Columbus,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,49200,36173.5,sameer
7518,Strayer University-Columbia Campus,Columbia,SC,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7519,Strayer University-Charleston Campus,North Charleston,SC,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7520,Strayer University-Irving,Irving,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7521,Strayer University-Katy,Houston,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7522,Strayer University-Northwest Houston,Houston,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7523,Strayer University-Plano,Plano,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5,sameer
7524,Strayer University-Cedar Hill,Cedar Hill,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5,sameer
7525,Strayer University-North Dallas,Dallas,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5,sameer
7526,Strayer University-San Antonio,San Antonio,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5,sameer
7527,Strayer University-Stafford,Stafford,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5,sameer
7528,WestMed College - Merced,Merced,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,15623.5,sameer
7529,Vantage College,El Paso,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500,sameer
7530,SAE Institute of Technology San Francisco,Emeryville,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500,sameer
7531,Rasmussen College - Overland Park,Overland Park,KS,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,21163,sameer
7532,National Personal Training Institute of Cleveland,Highland Heights,OH,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,6333,sameer
7533,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed,sameer
7534,Excel Learning Center-San Antonio South,San Antonio,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,12125,sameer

In [116]:
bool_[all_condi].tail(10)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
7525,Strayer University-North Dallas,Dallas,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5,sameer
7526,Strayer University-San Antonio,San Antonio,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5,sameer
7527,Strayer University-Stafford,Stafford,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5,sameer
7528,WestMed College - Merced,Merced,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,15623.5,sameer
7529,Vantage College,El Paso,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500,sameer
7530,SAE Institute of Technology San Francisco,Emeryville,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500,sameer
7531,Rasmussen College - Overland Park,Overland Park,KS,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,21163,sameer
7532,National Personal Training Institute of Cleveland,Highland Heights,OH,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,6333,sameer
7533,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed,sameer
7534,Excel Learning Center-San Antonio South,San Antonio,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,12125,sameer

# we r trying on New  or Fresh Datasets

In [146]:
# for that create a copy of r data frame and then perform operations on it
ar = bool_.head()
var11 = ar.copy()
#bool_['namee']=[]
var11

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888,xyz
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5,abc
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370,vikas
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097,sameer
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5,vivek

In [147]:
var11['namee']=['xyz','abc','vikas','sameer','vivek']

In [158]:
#len(ar)
var11

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888,xyz
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5,abc
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370,vikas
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097,sameer
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5,vivek

In [159]:
or_operation = (var11['namee']=='vikas')|(var11['namee']=='sameer')|(var11['namee']=='xyz')|(var11['namee']=='vik')
or_operation

0     True
1    False
2     True
3     True
4    False
Name: namee, dtype: bool

In [160]:
var11[or_operation]

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888,xyz
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370,vikas
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097,sameer

# isin opration Insated of multiple OR operators

In [170]:
or_operation1 = (var11['namee'].isin(['vikas','xyz','vivek'])) ## present value =True anf absent = false Result

In [171]:
or_operation1

0     True
1    False
2     True
3    False
4     True
Name: namee, dtype: bool

In [172]:
var11

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888,xyz
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5,abc
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370,vikas
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097,sameer
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5,vivek

In [173]:
or_operation = (var11['namee']=='vikas')|(var11['namee']=='sameer')&(var11['namee']=='xyz')|(var11['namee']=='vik')

In [174]:
or_operation

0    False
1    False
2     True
3    False
4    False
Name: namee, dtype: bool

In [175]:
var11[or_operation]

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0,0.2715,0.4536,1,0.6801,0.7795,0.854,40100,23370,vikas

In [178]:
var11.isnull() #false return bcz all vaues are presents in df

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [180]:
var11['CITY'].isnull()

0    False
1    False
2    False
3    False
4    False
Name: CITY, dtype: bool

# Boolean Selection on a Series

In [183]:
#select single col as series
var11

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888,xyz
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5,abc
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370,vikas
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097,sameer
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5,vivek

In [226]:
b= var11['SATMTMID']
len(b)

5

In [191]:
b1 = b>=400

In [234]:
b1

0     True
1     True
2    False
3     True
4     True
Name: SATMTMID, dtype: bool

In [194]:
var11[b1] #print the True values

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888,xyz
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5,abc
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097,sameer
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5,vivek

# all above operation can done in single line

In [219]:
b[b>=400] #########

0    420.0
1    565.0
3    590.0
4    430.0
Name: SATMTMID, dtype: float64

In [229]:
b[(b>400)&(b<500)]

0    420.0
4    430.0
Name: SATMTMID, dtype: float64

In [255]:
b[(b>400)&(b<500)]

0    420.0
4    430.0
Name: SATMTMID, dtype: float64

In [231]:
var11[(b>400)&(b<500)] ####### sie solve it

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888,xyz
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5,vivek

# Between on Series

In [232]:
b11 =b.between(400,550)
b11

0     True
1    False
2    False
3    False
4     True
Name: SATMTMID, dtype: bool

In [233]:
var11[b11]

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888,xyz
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5,vivek

In [235]:
var11

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888,xyz
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5,abc
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370,vikas
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097,sameer
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5,vivek

In [250]:
V1 = var11['CITY']=='Huntsville'
V1

0    False
1    False
2    False
3     True
4    False
Name: CITY, dtype: bool

In [251]:
var11[V1]

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0332,0.035,0.2146,1,0.3072,0.4596,0.264,45500,24097,sameer

In [271]:
# i wnat to display 'Normal and'Huntsville' thenn 
var11[(var11['CITY']=='Normal')|(var11['CITY']=='Huntsville')]
#same as above
##var11.loc[(var11['CITY']=='Normal')|(var11['CITY']=='Huntsville')]

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888,xyz
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097,sameer

In [275]:
var11

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP,namee
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888,xyz
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5,abc
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370,vikas
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097,sameer
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5,vivek

In [279]:
var11.loc[var11['SATMTMID']>=400,['CITY','HBCU','namee','PCTFLOAN']]

         CITY  HBCU   namee  PCTFLOAN
0      Normal   1.0     xyz    0.8284
1  Birmingham   0.0     abc    0.5214
3  Huntsville   0.0  sameer    0.4596
4  Montgomery   1.0   vivek    0.7554